/***** FONTS *****/
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600');


/* CUSTOM ACF STYLES FOR THIS SITE */

.acf-field .acf-label label {
    font-size: 16px;
}

.acf-field-5d374d6ff5f86 > .acf-label > label,
.acf-field-5d533bddf22ff > .acf-label > label,
.acf-field-5d533b1b76c7f > .acf-label > label,
.acf-field-5d4dc8620f1e4 > .acf-label > label {
    font-size: 24px;
    color: green;
}

/* ACF-STYLES */

.acf-repeater > table > tbody > .acf-row:nth-of-type(2n) > .acf-row-handle,
	.acf-flexible-content .layout .acf-fc-layout-handle { background: #ccc; }

/* nth field background */
.acf-input-table.row-layout .acf-row:nth-of-type(2n) .acf-table {
    background:#fafafa;
}
/* left field label td */
.acf-input-table.row-layout .acf-row:nth-of-type(2n) td.acf-label {
    background:#eee;
    border-color:#ddd;
}
/* field td */
.acf-input-table.row-layout .acf-row:nth-of-type(2n) td.acf-input {
    border-color:#ddd;
}
/* left and right side - order and delete td */
.acf-input-table.row-layout .acf-row:nth-of-type(2n) td.order,
.acf-input-table.row-layout .acf-row:nth-of-type(2n) td.remove {
    background:#e3e3e3;
}
/* space between row - only border works */
.acf-input-table.row-layout > tbody > tr > td {
    border:0;
    border-bottom:3px solid #DFDFDF;
}
/* row label (number) */
.acf-repeater .acf-row-handle.order {
    font-size: 28px;
    color: #222;
    vertical-align: top!important;
}
/* left padding for acf fields */
.acf-fields > .acf-field {
    padding-left: 25px;
}
/* set border color for repeater items */
tr.acf-row > td {
    border-top-color: black!important;
}

/* acf edit page */
.acf-field-object-tab {
    background: #fafafa;
    background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #F0F0F0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#F0F0F0));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#F0F0F0 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#F0F0F0 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#F0F0F0 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#F0F0F0 100%);
    border-bottom : 2px solid #F0F0F0;
}

.acf-input-table.table-layout .acf-row:nth-of-type(2n) > td {
	background: #eeeeee;
}
.acf-input-table.table-layout .acf-row:nth-of-type(2n) > td.order, .acf-input-table.table-layout .acf-row:nth-of-type(2n) > td.remove {
	background: #e3e3e3;
}


/* larger headings for parent fields */
.acf-postbox > .acf-fields > .acf-field > .acf-label > label {
    font-size: 20px;
    margin-top: 25px;
} 


/* WYSIWYG STYLES */

/* shorten the wysiwyg editor for Banner Intro so it implies a short bit of text */
.banner-intro > .acf-input > .acf-editor-wrap > .wp-editor-container > .mce-container 
	> .mce-container-body > .mce-panel > iframe,
.banner-intro > .acf-input > .acf-editor-wrap > .wp-editor-container > textarea.wp-editor-area	{
		/* height: 43px!important;
		min-height: 43px!important; */
	}
	
