body, p {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 300;
}
body {
    box-sizing: border-box;
    margin: 0;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

.nav li, h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-weight: 300;
    font-size: 1.4rem;
}
h3 {
    font-weight: 300;
    letter-spacing: 1px;
}
h3 strong {
    color: #00436c;
}

img {
    max-width: 100%;
}

a:not(.btn) {
    text-decoration: none;
    position: relative;
    font-weight: 700;
    color: #00436c;
}
a:not(.btn)::after {
    content: '';
    position: absolute;
    bottom: -2px;
    height: 2px;
    background: #a9d5ee;
    border-radius: 2px;
    left: 0;
    width: 0;
    transition: .5s;
}
a:not(.btn):hover::after {
    width: 100%;
}

header.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 70px;
}

.nav {
    padding: 0;
    margin-bottom: 0;
}

.header .nav {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav li {
    text-transform: uppercase;
    list-style: none;
    float: left;
    margin-right: 20px;
}
.nav li a {
    color: white;
    text-decoration: none;
    font-weight: 400;
}
.nav li a::after {
    background-color: white;
    left: -2px;
} 

.nav-right li {
    margin-right: 0;
    margin-left: 20px;
}

.nav li, .btn, h2 {
    letter-spacing: 4px;
    text-transform: uppercase;
}

.logo {
    max-width: 350px;
}
.logo a:hover::after {
    display: none;
}

.page-top {
    background-image: url(./img/blue-paint-blue.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    color: white;
    padding-bottom: 80px;
}
.page-top h1 {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 3rem;
}
.page-top h1 strong {
    color: #a9d5ee;
}

.main-copy {
    text-align: center;
}

.btn {
    padding: 8px 15px;
    border-radius: 10px;
    box-shadow: none;
    border: none;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 16px;
    transition: .3s;
}

.btn-primary, .btn-secondary:hover {
    color: white;
    background-color: #00436c;
}
.btn-primary:hover, .btn-secondary {
    background-color: #a9d5ee;
    color: #00436c;
}


#about {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 75px;
}

#about h2 {
    margin-bottom: 3rem;
}

.row {
    padding-left: 15px;
    padding-right: 15px;
}

#about .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 8rem;
}

.icon {
    width: 100px;
    margin: auto;
}
hr.short {
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #a9d5ee;
    border: none;
    height: 1px;
}

#form {
    background-image: url(./img/ladder-wall.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 75%;
    height: 650px;
}

#form .form-col {
    width: 40%;
    text-align: center;
}

#form .form-col p:not(.center) {
    text-align: left;
}
#form .form-col p input:not([type=submit]),
#form .form-col p textarea {
    width: 100%;
    padding: 7px 5px;
}

#form .form-col .form-wrap {
    max-width: 315px;
}

#form hr.short {
    background-color: #00436c;
}

#form .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}
#form .container .row {
    width: 100%;
}

footer {
    background-color: #00436c;
    clear: both;
    padding-top: 35px;
    padding-bottom: 100px;
}

.footer-logo {
    width: 150px;
    margin: auto;
    margin-bottom: 35px;
}
.footer-logo a::after {
    display: none;
}
footer .nav {
    width: 100%;
    display: flex;
    justify-content: center;
}
footer .nav li:last-child {
    margin-right: 0;
}
footer .nav li a {
    font-size: 14px;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
	.logo {
		max-width: 200px;
	}

	#about .row {
		grid-gap: 5rem;
	}

	#form .form-col {
		width: 60%;
	}
}

@media (max-width: 767px) {
	header .nav {
		display: none!important;
	}
	header .logo {
		margin: auto;
	}

	#about .row {
		grid-template-columns: 1fr;
		grid-gap: 4rem;
	}
	#about .row .col {
		max-width: 350px;
		margin: auto;
	}
	#about h2 {
		max-width: 350px;
		margin-left: auto;
		margin-right: auto;
	}

	#form .form-col {
		width: 80%;
	}
}

@media (max-width: 660px) {
	#form .form-col {
		width: 100%;
	}
}

@media (max-width: 420px) {
	footer .nav {
		display: none!important;
	}
	footer {
		padding-bottom: 0;
	}
	.main-copy a span {
		display: none;
	}
}